#paragraph
\    This is a line with 4 spaces in the beginning.

#paragraph
\
\  This is a line with a new line and 2 spaces in the beginning.

#paragraph
This is a line with 4 spaces in the end.    \

#paragraph
This is a line with 2 spaces and a new line in the end.  \
\

#paragraph
\  This is a line with 2 spaces in the beginning and in the end.  \

#paragraph
This is a line with \/*bold*/special chars*/ escaped.

#paragraph
\  This is a line with \/*bold*/special chars*/ escaped and spaces in the beginning and in the end.  \

#paragraph
This is a line with \#tag# special chars escaped.

#paragraph\|ignored-id
This is a line with a tag with an escaped id.

#paragraph
This is a line with /*bold* no need to escape anything.

#paragraph
This is a line with #tag no need to escape anything.

#paragraph
An escape char \with no special char to escape remains present as normal text.

#paragraph
Escaped chars normal in tagged text but special in json \" \\ \/ \b \f \n \r \t \u200 end.
