#file-opening
<!DOCTYPE html>
<html>
<head>
    <title>Minimal publication</title>
</head>
<body>

#file-ending
</body>
</html>

#tag title
##text <h1>
##content
##text </h1>
##new-line

#tag-list row
##list
    ###text <table>
    ###new-line
    ###content
    ###new-line
    ###text </table>
##item-separator
    ###new-line
##item
    ###text <tr>
    ###content
    ###text </tr>

#tag cell
    ##text <td>
    ##content
    ##text </td>

#tag paragraph
    ##new-line
    ##text <p>
    ##content
    ##text </p>